@import url('https://fonts.googleapis.com/css?family=Sacramento');

* {
  padding: 0;
  margin: 0;
}
:root {
  --lightPink: #fce3e9;
  --darkPink: #e0bfc3;
  --veryDarkPink: #af7e84;
  --veryLightGray: #dedede;
  --lightGray: #b1adb7;
  --darkGray: #8a8e99;
  --veryDarkGray: #4f4f4f;
}

body {
  color: var(--veryDarkGray);
  line-height: normal;
}

section {
  padding: 12vmin 0;
}

/*  NAVBAR */
#social-media {
  flex-direction: row;
  justify-content: flex-start;
  color: var(--veryDarkGray);
  font-size: 3.3vmin;
}

#social-media li:not(:first-child) {
  margin-left: 4vmin;
}

#social-media .fab:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  transition: all 0.3s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



.navbar-toggler {
  border: none;
}

#main {
  padding: 20vmin;
  text-align: left;
  background-color: var(--lightPink);
}
h1 {
  font-size: 8vmin;
  font-family: 'Sacramento', cursive;
  color: var(--veryDarkGray);
}
h2 {
  font-size: 6vmin;
  font-weight: 700;
}
#see-my-work {
  margin-top: 5vmin;
  background-color: #fff;
  font-size: 3vmin;
  padding: 1vmin 2.5vmin;
}
h3 {
  font-size: 5vmin;
}


/*  SECTION 2 - ABOUT */
#about {
  padding-bottom: 10rem;
}

#about img {
  opacity: 0.8;
  width: 25%;
  border-radius: 0.2em;
  float: left;
}

.panel {
  position: relative;
  top: 7vmin;
  left: 7vmin;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  padding: 7vmin 10vmin 10vmin 0;
  box-shadow: 0px 25px 42px rgba(0,0,0,0.2);
  z-index: -2;
}

.panel h3 {
  display: table;
  font-weight: bold;
  padding: 0;
  font-size: 4.3vmin;
}

.panel p {
  font-size: 2.5vmin;
  padding-top: 1.5vmin;
  color: rgba(0,0,0,0.5);
  display: inline;
  line-height: 150%;
}

#cvBtn {
  font-size: 2.5vmin;
  margin-top: 5vmin;
  padding: 1vmin 2.5vmin;
  background-color: var(--darkPink);
  border: 1px solid var(--darkPink);
  cursor: pointer;
  display: table;
}
#cvBtn:hover {
  background-color: var(--lightPink);
  border: 1px solid var(--lightPink);
  color: var(--veryDarkGray);
  transition: all .4s ease;
}

/*   PROJECT SECTION */
#projects {
  padding-left: 15vmin;
  padding-right: 15vmin;
  background-color: var(--veryLightGray);
}
#projects h2 {
  color: var(--darkGrey);
  text-align: center;
  padding-bottom: 7vmin;
}


/*  ===== PROJECTS ===== */

#projectMenu {
  text-align: center;
  list-style-type: none;
  padding-bottom: 4vmin;
}
#projectMenu li {
  display: inline;
  margin-right: 3vmin;
  color: #fff;
  text-align: center;
  padding: 1vmin 3vmin;
  font-size: 4vmin;
  background-color: var(--darkPink);
  cursor: pointer;
}

.projectCard {
  display: block;
  background-color: #fff;
  margin: 1rem 0;
  padding: 7vmin 10vmin;
  color: var(--veryDarkGray);
  border-radius: 5px;
  text-align: center;
}


#projects .fab, #projects .fas {
  color: var(--veryDarkGray);
  font-size: 8vmin;
}


/*  ----------------------- MODAL ------------------*/
.modalTech {
  padding-left: 3vmin;
}
.modalTech li {
  /* font-size: 3vmin; */
  color: var(--veryDarkGray);
  list-style-type: square;
  list-style-position: inside;
}

.modal-footer {
  justify-content: flex-end;
}

.view-project, .view-code {
  padding: 1vmin 2vmin;
  border-radius: 5px;
  color: var(--veryDarkGray);
  text-decoration: none;
}

.view-project {
  background-color: var(--veryLightGray);
  margin-right: 1.1vmin;
}
.view-project:hover {
  text-decoration: none;
  background-color: var(--veryDarkGray);
  color: #fff;
}
.view-code {
  background-color: var(--lightPink);
}
.view-code:hover {
    background-color: var(--veryDarkPink);
    color: #fff;
    text-decoration: none;
}

/*  SKILLS SECTION */
#skills {
  background-color: var(--darkPink);
}
#skills h2 {
  color: var(--veryDarkGray);
  text-align: center;
  padding-bottom: 7vmin;
}

#skillBox .card {
  margin-bottom: 1rem;
  padding: 1rem 0 0 1rem;
}

#skillBox .card  ul {
  margin-bottom: 1rem;
  list-style-type: square;
}

#skillBox .card-title {
  padding-bottom: 1.5vmin;
  border-bottom: .6vmin dashed var(--lightPink);
}


/*  ------------------------------------------------------- */
@media only screen and (max-width: 1020px) {

  .profile-img img {
  margin-right: 3vmin;
  }
  .panel {
    clear: right;
    position: static;
    padding: 10vmin 5vmin 10vmin 7vmin;
  }



@media only screen and (max-width: 800px) {
  #main {
    text-align: center;
      padding: 15vmin;
  }

  #about img {
    padding-right: 1vmin;
  }
}

@media only screen and (max-width: 600px) {
  #main {
    padding: 15vmin 0;
    margin: 0;
  }
  h1 {
    font-size: 10vmin;
  }
  h2 {
    font-size: 7vmin;
  }
  #see-my-work {
    font-size: 4vmin;
  }

  /* SECTION 2 - ABOUT  */
  #about {
    padding-bottom: 1rem;
  }

#about img {
  float: none;
  width: 30%;
}
.panel {
  box-shadow: none;
  padding: 1rem ;
}
.panel h3 {
  font-size: 6vmin;
}
.panel p {
  font-size: 5vmin;
}
#cvBtn {
  font-size: 4.5vmin;
}

/* SECTION 3 - PROJECTS */
  #projects {
    padding-left: 7vmin;
    padding-right: 7vmin;
  }
  .projectCard {
    margin: 1rem 0;
    padding: 2rem 0;
  }

  #projects .fab, #projects .fas {
    font-size: 12vmin;
  }

  .modalTech {
    padding-top: 4.2vmin;
  }
}

}
